<div class="container">
  <div class="grid">
    <div class="grid__item">
      <h1 class="grid__item--title">Title</h1>
    </div>
    <div class="grid__item">
      <h3 class="grid__item--subtitle">Skrzynie</h3>
    </div>
    <div class="grid__item--image">
      <figure class="is-256x256">
        <img src="../assets/sample-chest.png" width="256" height="256" alt="" srcset="">
      </figure>
    </div>
    <div class="grid-container--fit">
      <div class="test">
        <img class="grid-element" src="../assets/sample-chest.png" width="48" height="48" alt="" sizes="" srcset=""
          (click)="selectItem(item.id)">
      </div>
      <div class="test">
        <img class="grid-element" src="../assets/sample-chest.png" width="48" height="48" alt="" sizes="" srcset=""
          (click)="selectItem(item.id)">
      </div>
      <div class="test">
        <img class="button--add" src="../assets/add.png" width="48" height="48" alt="" sizes="" srcset="">
      </div>
    </div>
    <div class="grid__item">
      <h3 class="grid__item--subtitle">Runy</h3>
    </div>
    <div class="grid-container--fit">
      <div class="test">
        <img class="grid-element" src="../assets/dagaz-2644493_640.png" width="48" height="48" alt="" sizes=""
          srcset="">
      </div>
      <div class="test">
        <img class="grid-element" src="../assets/dagaz-2644493_640.png" width="48" height="48" alt="" sizes=""
          srcset="">
      </div>
      <div class="test">
        <img class="grid-element" src="../assets/dagaz-2644493_640.png" width="48" height="48" alt="" sizes=""
          srcset="">
      </div>
      <div class="test">
        <img class="button--add" src="../assets/add.png" width="48" height="48" alt="" sizes="" srcset="">
      </div>
    </div>
    <div class="grid__item">
      <h3 class="grid__item--subtitle">Nagrody</h3>
      <h3 class="grid__item--subsubtitle">Wartość : {{amountPrize}} $</h3>
    </div>

    <div class="grid__item">
      <div class="grid__item__button">
        <button class="grid__item__button--open">Otwórz skrzynię</button>
      </div>
    </div>

    <div class="grid-container--fit">
      <div class="test">
        <img class="grid-element" src="../assets/sample-reward.png" width="48" height="48" alt="" sizes="" srcset="">
      </div>
      <div class="test">
        <img class="grid-element" src="../assets/sample-reward.png" width="48" height="48" alt="" sizes="" srcset="">
      </div>
      <div class="test">
        <img class="grid-element" src="../assets/sample-reward.png" width="48" height="48" alt="" sizes="" srcset="">
      </div>
      <div class="test">
        <img class="grid-element" src="../assets/sample-reward.png" width="48" height="48" alt="" sizes="" srcset="">
      </div>
      <div class="test">
        <img class="grid-element" src="../assets/sample-reward.png" width="48" height="48" alt="" sizes="" srcset="">
      </div>
      <div class="test">
        <img class="grid-element" src="../assets/sample-reward.png" width="48" height="48" alt="" sizes="" srcset="">
      </div>
      <div class="test">
        <img class="grid-element" src="../assets/sample-reward.png" width="48" height="48" alt="" sizes="" srcset="">
      </div>
      <div class="test">
        <img class="button--add" src="../assets/add.png" width="48" height="48" alt="" sizes="" srcset="">
      </div>
    </div>
  </div>
</div>