<div class="container">
  <div class="grid">
    <ng-container *ngIf="itemSelected">
      <div class="grid__item item--title">
        <h1 class="grid__item--title">{{itemSelected.name}}</h1>
      </div>
    </ng-container>
    <div class="grid__item items--title--chests">
      <h3 class="grid__item--subtitle">Skrzynie</h3>
    </div>
    <ng-container *ngIf="itemSelected">
      <div class="grid__item--image item--select">
        <figure class="is-256x256">
          <img src="{{itemSelected.img}}" width="360" height="360" alt="" srcset="">
        </figure>
      </div>
    </ng-container>

    <div class="grid__container__items items--chests">
      <ng-container *ngFor="let item of itemsArray">
        <div class="grid__container__items__element" *ngIf="item.type === 0">
          <img class="grid__container__items__element--border" src="{{item.img}}"
            [ngClass]="{'grid__container__items__element--border--selected': item.id === itemSelected.id}" width="96"
            height="96" alt="" sizes="" srcset="" (click)="selectItem(item.id)">
        </div>
      </ng-container>
      <div class="grid__container__items__element">
        <img class="grid__container__items__element__button--add" src="../assets/add.png" width="96" height="96" alt=""
          sizes="" srcset="">
      </div>
    </div>
    <div class="grid__item items--title--runes">
      <h3 class="grid__item--subtitle">Runy</h3>
    </div>
    <div class="grid__container__items items--runes">
      <ng-container *ngFor="let item of itemsArray">
        <div class="grid__container__items__element" *ngIf="item.type === 1">
          <img class="grid__container__items__element--border" src="{{item.img}}" width="96" height="96" alt="" sizes=""
            srcset="">
        </div>
      </ng-container>
      <div class="grid__container__items__element">
        <img class="grid__container__items__element__button--add" src="../assets/add.png" width="96" height="96" alt=""
          sizes="" srcset="">
      </div>
    </div>
    <div class="grid__item items--title--prizes">
      <h3 class="grid__item--subtitle">Nagrody</h3>
      <h3 class="grid__item--subsubtitle">Wartość : {{amountPrize}} $</h3>
    </div>

    <ng-container *ngIf="itemSelected && itemSelected.type === 0">
      <div class="grid__item item--select--action">
        <div class="grid__item__button">
          <button class="grid__item__button--open" (click)="deleteItem(itemSelected.id)">Otwórz skrzynię</button>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="itemSelected && itemSelected.type === 2">
      <div class="grid__item item--select--action">
        <div class="grid__item__button">
          <button class="grid__item__button--open">{{itemSelected.key}}</button>
        </div>
      </div>
    </ng-container>


    <div class="grid__container__items items--prizes">
      <ng-container *ngFor="let item of itemsArray">
        <div class="grid__container__items__element" *ngIf="item.type === 2">
          <img class="grid__container__items__element--border" src="{{item.img}}"
            [ngClass]="{'grid__container__items__element--border--selected': item.id === itemSelected.id}" width="96"
            height="96" alt="" sizes="" srcset="" (click)="selectItem(item.id)">
        </div>
      </ng-container>
      <div class="grid__container__items__element">
        <img class="grid__container__items__element__button--add" src="../assets/add.png" width="96" height="96" alt=""
          sizes="" srcset="">
      </div>
    </div>
  </div>
</div>